# Base de datos PostgreSQL
DATABASE_URL="postgresql://postgres.uxpgimonrgnsfoficlxp:[Nikon77_mm]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# Auth.js — genera con: openssl rand -base64 32
AUTH_SECRET="tu-secreto-super-largo-y-aleatorio-aqui"
AUTH_URL="http://localhost:3000"
